# Clé privée de ton wallet (SANS le 0x devant si Metamask, ou AVEC, Hardhat gère les deux)
# ATTENTION : N'utilise qu'un wallet de TEST contenant des BNB Testnet. Ne mets jamais ta vraie clé principale ici !
PRIVATE_KEY=0000000000000000000000000000000000000000000000000000000000000000

# Clé API BscScan (pour vérifier le contrat et afficher le code source publiquement pour l'audit)
# Tu peux la créer gratuitement sur https://bscscan.com/myapikey
BSCSCAN_API_KEY=ABC123XYZ456...
